# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.sqlite3
*.db

# =========================
# Virtual Environment
# =========================
venv/
ENV/
env/
.env/
*.env

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Screenshots / Temporary files
# =========================
*.tmp
*.bak

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/
